*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
    margin-right: 30px;
}

.d-flex{
    display: flex;
}

.justify-content{
    justify-content: center;
}

.align-item-center{
    align-items: center;
}

.justify-content-between{
    justify-content: space-between;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.ml-20{
    margin-left: 20px;
}